@charset "UTF-8";

body{
    background-color: rgb(237, 241, 198) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h1{
    color: rgba(139, 0, 0, 0.938);
    background-color: rgb(189, 110, 7);
}

h2{
    color: rgb(184, 11, 11);
   
}

h3{
    color:rgb(10, 10, 10);
   

}
p {
    text-align: justify;
}